.signUpmain {
  height: 1200px;
}

.formDiv {
  width: 50%;
  height: 800px;
  margin: 100px auto;
}

input[type='text'] {
  width: 100%;
  font-size: 1.2rem;
  height: 40px;
  padding: 5px;
  border: none;
  border-bottom: 2px solid #312b2b;
  background-color: #fff4e3;
}

#subject {
  height: 40px;
  width: 100%;
}

#message {
  height: 200px;
  width: 100%;
  border-radius: 5px;
}
#text {
  height: 200px;
  width: 100%;
  border-radius: 5px;
}

textarea {
  border: solid 2px #312b2b;
  font-size: 1rem;
}

label {
  font-size: 1.2rem;
  margin-top: 10px;
  display: block;
}

p {
  padding: 0px;
  margin: 0px;
}

.submitBtn {
  margin-top: 50px;
  width: 100%;
  border: none;
  border-radius: 5px;
  height: 60px;
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  background-color: #a48ee5;
}

.formText {
  width: 100%;
  margin-top: 40px;
  text-align: center;
}

.error {
  color: red;
}
.hide {
  display: none;
}

.show {
  display: block;
}

textarea[placeholder] {
  padding: 5px;
}

.contactheading {
  width: 50%;
  margin: 40px auto;
}
