.signUpmain {
  height: 1200px;
}

.formDiv {
  margin-top: 40px;
  width: 50%;
  height: 800px;
  margin: 150px auto;
}

input[type='text'] {
  width: 100%;
  height: 40px;
  padding: 5px;
  border: none;
  border-bottom: 2px solid black;
}

#subject {
  height: 40px;
  width: 100%;
}

#message {
  height: 200px;
  width: 100%;
  border-radius: 5px;
}
#text {
  height: 200px;
  width: 100%;
  border-radius: 5px;
}

textarea {
  border: solid 2px black;
}

label {
  margin-top: 10px;
  display: block;
}

p {
  padding: 0px;
  margin: 0px;
}

.submitBtn {
  margin-top: 50px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  height: 60px;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.formText {
  width: 100%;
  margin-top: 40px;
  text-align: center;
}

.error {
  color: red;
}
.hide {
  display: none;
}

.show {
  display: block;
}

textarea[placeholder] {
  padding: 5px;
}
