@media (max-width: 1300px) {
  .projectsContainer {
    display: block;
    justify-content: space-evenly;
    margin: auto;
  }
  .cards {
    margin: auto;
  }
}
@media (max-width: 1100px) {
}

@media (max-width: 900px) {
  .landingpageh1 {
    font-size: 5rem;
  }
}

@media (max-width: 800px) {
}

@media (max-width: 767px) {
  .welcomeContainer {
    display: block;
    margin: 40px auto;
    text-align: center;
  }
  .landingpageh1 {
    font-size: 4rem;
  }
}

@media (max-width: 500px) {
  .welcomeContainer {
    display: block;
    margin: 40px auto;
    text-align: center;
  }
}
