@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
body {
  max-width: 1440px;
  min-height: 100vh;
  margin: auto;
  background-color: #fff4e3;
}

a {
  text-decoration: none;
}

.frontpageContainer {
  width: 80%;
  margin: 0 auto 100px;
}

.landingpageh1 {
  font-family: 'Poppins', sans-serif;
  font-size: 7rem;
  line-height: 140px;
  margin-right: 100px;
}

.welcomeImage {
  width: 150px;
}

.welcomeContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #312b2b;
  margin-top: 100px;
}

.aboutContainer {
  width: 100%;
}
.aboutmeHeading {
  font-size: 2rem;
  font-weight: 500;
  color: #312b2b;
  margin-bottom: 10px;
}

.aboutmeText {
  color: #312b2b;
  font-size: 1.3rem;
  font-weight: 500;
}

.fa-js-square,
.fa-css3-alt,
.fa-html5,
.fa-figma {
  font-size: 3.4rem;
  color: #312b2b;
  margin-right: 10px;
  margin-top: 40px;
}
