@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
body {
  max-width: 1440px;
  margin: auto;
  height: 100vh;
  background-color: #fff4e3;
}

a {
  text-decoration: none;
}

.landingpageh1 {
  font-family: 'Poppins', sans-serif;
  font-size: 10rem;
  text-transform: uppercase;
  line-height: 120px;
}
.test {
  display: block;
}

.welcomeImage {
  width: 150px;
}

.welcomeContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 300px;
  color: #312b2b;
}

/* .h2container {
  margin: 400px 0px 20px;
}
.projectsheading {
  color: #312b2b;
  font-size: 2.5rem;
} */
